# workflow:
#   name: 'Build, test and push images'

stages:
  - unit-test
  - build
  - test
  - push

# variables:
#   # Use TLS https://docs.gitlab.com/ee/ci/docker/using_docker_build.html#tls-enabled
#   DOCKER_HOST: tcp://docker:2376
#   DOCKER_TLS_CERTDIR: "/certs"


# run tests:
#   stage: unit-test
#   image: golang:1.19-bookworm
#   script:
#     - cp .env.dist tests/testsIntegration/.env
#     - go test ./...


.dind: &dind_template
  image: docker:20.10.18 # TODO use a specifc version instead of latest, not using latest fixes issue - https://forum.gitlab.com/t/the-ci-cd-pipeline-suddenly-fails-without-any-changes-done-to-the-repository/81117/9
  tags:
    - docker
  services:
    - docker:20.10.18-dind
  stage: build
  variables:
    DOCKER_HOST: tcp://docker:2376
    DOCKER_TLS_CERTDIR: "/certs"
    IMAGE_TAG: 1.0.0
    IMAGE_NAME: $CI_REGISTRY_IMAGE
    CONTAINER_TEST_IMAGE: $IMAGE_NAME:commit.$CI_COMMIT_SHA
    CONTAINER_RELEASE_IMAGE: $IMAGE_NAME:$IMAGE_TAG
    CONTAINER_LATEST_IMAGE: $IMAGE_NAME:latest
    CONTAINER_RELEASE_SLIM_IMAGE: $IMAGE_NAME:${IMAGE_TAG}-slim
    CONTAINER_LATEST_SLIM_IMAGE: $IMAGE_NAME:latest-slim
  # rules:
  #   - if: $CI_COMMIT_BRANCH == $CI_DEFAULT_BRANCH
  #     changes:
  #       - src/**/*
  #       - Dockerfile
  #       - main.go
    #   when: manual
  before_script:
    - docker login -u $CI_REGISTRY_USER -p $CI_REGISTRY_PASSWORD $CI_REGISTRY


build test and push api image:
  extends: .dind
  script:
    - echo "Building fat image $CONTAINER_TEST_IMAGE"
    - docker pull $CONTAINER_LATEST_IMAGE || true
    - docker image build . --target builder --tag $CONTAINER_TEST_IMAGE

    - echo "Running tests"
    - docker container rm tester --force || true
    - docker container run --rm --name tester $CONTAINER_TEST_IMAGE bash -c "cp .env tests/testsIntegration/; go test ./..."

    - echo "Building slim image"
    - docker image build . --target slim --tag $CONTAINER_RELEASE_SLIM_IMAGE

    - echo "Pushing images"
    - docker image tag $CONTAINER_TEST_IMAGE $CONTAINER_RELEASE_IMAGE
    - docker image push $CONTAINER_RELEASE_IMAGE
    - docker image push $CONTAINER_RELEASE_SLIM_IMAGE
    - docker image tag $CONTAINER_TEST_IMAGE $CONTAINER_LATEST_IMAGE
    - docker image push $CONTAINER_LATEST_IMAGE
    - docker image tag $CONTAINER_RELEASE_SLIM_IMAGE $CONTAINER_LATEST_SLIM_IMAGE
    - docker image push $CONTAINER_LATEST_SLIM_IMAGE

    # - sh build.sh
    # - sh test.sh
    # - sh push.sh

sonarqube-check:
  image: maven:3.6.3-jdk-11
  variables:
    SONAR_USER_HOME: "${CI_PROJECT_DIR}/.sonar"  # Defines the location of the analysis task cache
    GIT_DEPTH: "0"  # Tells git to fetch all the branches of the project, required by the analysis task
  cache:
    key: "${CI_JOB_NAME}"
    paths:
      - .sonar/cache
  script:
    - mvn verify sonar:sonar -Dsonar.projectKey=lds1_ocf-core_AYkgVo_qxuPOCIDagUhL -Dsonar.projectName='OCF Core'
  allow_failure: true
  rules:
    - if: $CI_COMMIT_BRANCH == 'main'
