stages:
  #- build
  - test

#include:
  #- template: Jobs/Build.gitlab-ci.yml

#build:
  #before_script:
   # - touch ./src/auth/casdoor/token_jwt_key.pem
  #rules:
   # - if: '$CI_COMMIT_REF_NAME == "test-mame"'

test-k8s:
  stage: test
  image:
    name: bitnami/kubectl:latest
    entrypoint: ['']
  script:
    - kubectl config use-context https://gitlab.com/ci-cd-chihi-mecheri-michel-gueye/ocf-core:k3d-mycluster
    - kubectl get pods

  rules:
    - if: '$CI_COMMIT_REF_NAME == "test-mame"'