services:
  ocf-core:
    restart: always
    build:
      context: ./
      dockerfile: Dockerfile
    volumes:
      - "./.env:/home/ocf/.env"
    ports:
      - 8080:8080
    depends_on:
      - casdoor
    networks:
      - devcontainer-network
      
  casdoor:
    restart: always
    image: casbin/casdoor
    entrypoint: /bin/sh -c './server --createDatabase=true'
    ports:
      - "8000:8000"
    depends_on:
      - casdoor_db
    environment:
      RUNNING_IN_DOCKER: "true"
    volumes:
      - ./src/configuration/casdoor_app.conf:/conf/app.conf
    networks:
      - devcontainer-network
  casdoor_db:
    restart: always
    image: mysql:8.0.25
    platform: linux/amd64
    ports:
      - "3306:3306"
    environment:
      MYSQL_ROOT_PASSWORD: 123456
    volumes:
      - /usr/local/docker/mysql:/var/lib/mysql
    networks:
      - devcontainer-network

networks:
  devcontainer-network:
