---
apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  name: postgres-pvc
spec:
  accessModes:
    - ReadWriteOnce
  resources:
    requests:
      storage: {{ .Values.postgres.storage | default "1Gi" }}  
---
apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  name: casdoor-db-pvc
spec:
  accessModes:
    - ReadWriteOnce
  resources:
    requests:
      storage: {{ .Values.casdoor_db.storage | default "1Gi" }} 