#service:
 # type: ClusterIP
  #port: 8080

#imagePullSecrets:
 # - name: gitlab-registry

#image:
 # repository: registry.gitlab.com/ci-cd-chihi-mecheri-michel-gueye/ocf-core
  #tag: v1
  #pullPolicy: Always

#ingress:
 # enabled: true
  #className: nginx
  #hosts:
   # - host: ocf.local
    #  paths:
     #   - path: /
      #    pathType: Prefix

#imagePullSecrets:
 # - name: gitlab-registry

replicaCount: 1

services:
  ocfCore:
    port: 8080

  postgres:
    port: 5432
    image: "postgres:16-alpine"
    storage: "1Gi"
    storageClassName: "local-path"
    env:
      POSTGRES_USER: "postgres"
      POSTGRES_PASSWORD: "password"
      POSTGRES_DB: "ocf_db"

  pgadmin:
    port: 80
    image: "dpage/pgadmin4"
    env:
      PGADMIN_DEFAULT_EMAIL: "thomas@solution-libre.fr"
      PGADMIN_DEFAULT_PASSWORD: "test"

  casdoor:
    port: 8000
    image: "casbin/casdoor"
    configPath: "/conf/app.conf"

  casdoorDb:
    port: 3306
    image: "mysql:8.0.25"
    env:
      MYSQL_ROOT_PASSWORD: "123456"
    storage: "1Gi"
    storageClassName: "local-path"

image:
  repository: registry.gitlab.com/ci-cd-chihi-mecheri-michel-gueye/ocf-core
  tag: latest
  pullPolicy: Always

