#service:
 # type: ClusterIP
  #port: 8080

#imagePullSecrets:
 # - name: gitlab-registry

#image:
 # repository: registry.gitlab.com/ci-cd-chihi-mecheri-michel-gueye/ocf-core
  #tag: v1
  #pullPolicy: Always

#ingress:
  #enabled: true
  #className: nginx
  #hosts:
   # - host: ocf.local
    #  paths:
     #   - path: /
      #    pathType: Prefix

service:
  type: ClusterIP
  port: 8080

imagePullSecrets:
  - name: gitlab-registry

image:
  repository: registry.gitlab.com/ci-cd-chihi-mecheri-michel-gueye/ocf-core
  tag: V1
  pullPolicy: Always

postgres:
  image: "postgres:16-alpine"
  port: 5432
  storage: "1Gi"
  env:
    POSTGRES_USER: "postgres"
    POSTGRES_PASSWORD: "password"
    POSTGRES_DB: "ocf_db"

pgadmin:
  image: "dpage/pgadmin4"
  port: 80
  env:
    PGADMIN_DEFAULT_EMAIL: "thomas@solution-libre.fr"
    PGADMIN_DEFAULT_PASSWORD: "test"

casdoor:
  image: "casbin/casdoor"
  port: 8000
  configPath: "/conf/app.conf"

casdoor_db:
  image: "mysql:8.0.25"
  port: 3306
  password: "123456"
  storage: "1Gi"


